* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: rgb(156, 192, 108);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  margin: 250px 50px auto 50px;
}

.heading-container {
  display: flex;
  flex-direction: column;
  align-items: space-around;
}

header {
  background-color: rgb(18, 80, 18);
  padding: 40px 60px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  opacity: .8;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-size: 80px;
  letter-spacing: .1em;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
  color: rgb(156,192,107);
}

form.options {
  display: flex;
  flex-direction: row;
  color: white;
  letter-spacing: .05em;
  justify-content: space-around;
  align-items: center;
  width: 25%;
}

input {
  width: 100%;
}

.selection-container {
  display: flex;
  flex-direction: column;
}

.card-container {
  display: inline-block;
  margin: 20px;
  background-color: rgb(131, 177, 113); 
  border: 5px solid darkgreen;
  padding: 10px;
  text-align: center;
  width: 280px;
}

.card-container p {
  font-family: 'Courier New', Courier, monospace;
  color: rgb(18, 80, 18);
}

.card-container h2 {
  text-transform: uppercase;
  color: white;
  background-color: rgb(16, 78, 16);
  width: 100%;
  padding: 10px;
}

img {
  width: 70%
}

button.search {
  border-radius: 5px;
  background-color: #AC8355; 
  border: none;
  height: 50px;
  text-transform: uppercase;
  padding: 15px;
  font-weight: bold;
  color: white;
  font-size: 14px;;
}

button, select {
  cursor: pointer;
}

input {
  margin-top: 10px;
  background-color: rgb(200, 228, 189);
}

.current-page {
  padding: 10px;
  color: white;
}

p.results {
  color: white;
}

button.prev, button.next {
  background-color: rgb(194, 163, 129); 
  border: none;
}